.app-container {
    max-width: 720px;
    background: #FAFAF8;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin:20px auto;
    min-height: 700px;
    overflow: hidden;
}

header {
    background: #FFF;
    height: 110px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.chef-icon {
    width: 55px;
    height: 62px;
}

.title-header {
    font-size: 32px;
}