*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background-image: url(https://img.freepik.com/premium-photo/abstract-background-backgrounds-outdoors-purple_53876-1173305.jpg?semt=ais_hybrid&w=740&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

